body{
	font-family: 'Open Sans',sans-serif;
	background-image: url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2F3%2Fd%2F3%2F493106-cool-rainbow-backgrounds-1920x1200-for-samsung-galaxy.jpg&f=1&nofb=1);
}
#container{
	width: 1000px;
	height: 550px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg);
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #808080;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #000000;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 40px;
	
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 25px;
	background-color:#ff38d8;
}
.number, .empty{
	background-color: #2fff00;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #1afef2;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffd113;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #fb2828;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #2253ff;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9a2dff;
}
